{% import 'Dockerfile/docker.jinja2' as docker %}
{% import 'Dockerfile/tools.jinja2' as tools %}

{% macro copy(flavor="buster") %}
# Baselayout copy (from staged image)
COPY --from={{ docker.from("toolbox", flavor, user) }} /baselayout/sbin/* /sbin/
COPY --from={{ docker.from("toolbox", flavor, user) }} /baselayout/usr/local/bin/* /usr/local/bin/
{%- endmacro %}
