{% import 'Dockerfile/docker.jinja2' as docker %}
{% import 'Dockerfile/tools.jinja2' as tools %}

{% macro dockerStage() %}
# staged baselayout builder
{{ docker.from("toolbox", "latest", user) }} AS base

{{ docker.platformArgs() }}

RUN set -eux \
    {{ tools.goreplace(path="/baselayout/usr/local/bin") }} \
    {{ tools.gosu(path="/baselayout/sbin") }}
{%- endmacro %}

{% macro copy() %}
# base copy (from staged image)
COPY --from=base /baselayout /
{%- endmacro %}
