{% macro goreplace(path="/usr/local/bin", version="1.1.2") -%}
    ## Install go-replace
    && export grArch="$(echo $TARGETARCH | sed s/amd64/64/g)" \
    && wget -O "{{ path }}/go-replace" "https://github.com/webdevops/goreplace/releases/download/{{ version }}/gr-$grArch-linux" \
    && chmod +x "{{ path }}/go-replace" \
    && go-replace version
{%- endmacro %}

{% macro gosu(path="/sbin", version="1.10") -%}
    # Install gosu
    && wget -O "{{ path }}/gosu" "https://github.com/tianon/gosu/releases/download/{{ version }}/gosu-$TARGETARCH" \
    && wget -O "{{ path }}/gosu.asc" "https://github.com/tianon/gosu/releases/download/{{ version }}/gosu-$TARGETARCH.asc" \
    && export GNUPGHOME="$(mktemp -d)" \
    && gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys B42F6819007F00F88E364FD4036A9C25BF357DD4 \
    && gpg --batch --verify {{ path }}/gosu.asc "{{ path }}/gosu" \
    && rm -rf "$GNUPGHOME" \
    && chmod +x "{{ path }}/gosu"
{%- endmacro %}
